body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-image: url(Black&White.jpg);
    color: white;
    scroll-behavior: smooth;
}

.profileintro {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px;
    margin: 40px;
    padding: 20px;
    background-color: rgba(230, 224, 224, 0.649);
    border-radius: 20px;
    color: black;
    font-size: 18px;
    
}

.profilepicture {
    flex: 1;
    max-width: 370px;
}

.myimg {
    width: 100%;
    height: auto;
    border: 5px solid black;
    border-radius: 50px;
}

.introhead {
    flex: 2;
    text-align: left;
}

.intropara {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.skillsh,
.projecth,
.hobbiesh {
    text-align: center;
}

.skillst,
.projectt {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}

.skillst, th, td {
    border: 1px solid white;
    padding: 10px;
    text-align: left;
}

.hobbiest {
    margin: 0 auto;
    border-collapse: collapse;
}

hr {
border: 2px solid rgba(255, 255, 255, 0.612);
margin: 40px 0;
}